@keyframes chatAppear {
    0% {
        opacity: 0.0;
        transform: scale(0.9);
        transform-origin: right bottom;
    }
    100% {
        opacity: 1;
        transform: scale(1);
        transform-origin: right bottom;
    }
}

.chatAppear {
    animation-name: chatAppear;
    animation-duration: 300ms;
}

@keyframes chatDisappear {
    0% {
        opacity: 0.0;
        transform: scale(1.4);
        transform-origin: right bottom;
    }
    100% {
        opacity: 1;
        transform: scale(1);
        transform-origin: right bottom;
    }
}

.chatDisappear {
    animation-name: chatDisappear;
    animation-duration: 300ms;

}
